$primary-color: #fff;
$secondary-color: #ffff;
$accent-color: #4AF6CD;

.v-text {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.375rem;
    letter-spacing: 0.5rem;
}

.b-text {
    font-weight: 800;
    font-size: 2.5rem;
}