.cards {
   margin-top: 200px;
}

// Positioning 
.slick-track {

   .card-box:nth-child(4n + 1) {
      margin-top: 32px;
   }

   .card-box:nth-child(4n + 3) {
      margin-top: 89px;
   }

}

.card-box {
   position: relative;
   background-size: cover;
   background-position: center;
   outline: none;


   // Slides Animation Hover and Current change
   &:hover {
      .primary-btn {
         opacity: 100%;
         pointer-events: visible;
      }

      .card-box__inner {
         background-color: rgba(#1C2121, .3);
      }
   }

   &.slick-current {
      .primary-btn {
         opacity: 100%;
         pointer-events: visible;
      }

      .card-box__inner {
         background-color: rgba(#1C2121, .3);
      }
   }

   &__inner {
      height: 750px;
      padding: 4.5rem 2.375rem 0 2.375rem;
      display: flex;
      flex-direction: column;
      pointer-events: none;
      background-color: rgba(#1C2121, $alpha: .85);
      transition: .2s background-color linear;

   }

   &__title {
      @extend .b-text;

      h4 {
         margin: 0;
      }
   }

   &__body {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      writing-mode: vertical-rl;

      &-location {
         @extend .v-text;
         margin: 0;
         transform: rotate(180deg);
      }
   }

}

// Enable and disable btn 
.card-box .primary-btn {
   transition: .3s opacity linear;
   opacity: 0;
   pointer-events: none;
}


// Cards Slider 
.card__slider-arrow {
   position: absolute;
   cursor: pointer;
   top: -42px;
}

.card__slider-arrow.right {
   right: 5.0225rem;
}

.card__slider-arrow.left {
   right: 7.8031rem;
}