.cards {}

// Positioning 
.slick-track {

   .card-box:nth-child(4n + 1) {
      margin-top: 32px;
   }

   .card-box:nth-child(4n + 3) {
      margin-top: 89px;
   }


}

.card-box {
   position: relative;
   background-size: cover;
   background-position: center;


   &__inner {
      height: 750px;
      padding: 4.5rem 2.375rem 0 2.375rem;
      display: flex;
      flex-direction: column;
      pointer-events: none;
      background-color: rgba(#1C2121, $alpha: .85);
      transition: .2s background-color linear;

   }

   &__title {
      font-weight: 800;
      font-size: 2.5rem;

      h4 {
         margin: 0;
      }
   }

   &__body {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      writing-mode: vertical-rl;

      &-location {
         margin: 0;
         font-size: 1.125rem;
         letter-spacing: 8px;
         transform: rotate(180deg);
      }
   }

}

// Enable and disable btn 
.card-box .primary-btn {
   &-link {
      display: none;
   }
}

// Cards Slider 
.card__slider-arrow {
   position: absolute;
   cursor: pointer;
   top: -42px;
}

.card__slider-arrow.right {
   right: 5.0225rem;
}

.card__slider-arrow.left {
   right: 7.8031rem;
}