.title {
   span {
      position: relative;
      display: inline-block;
      font-size: 12.5rem;
      font-weight: 800;
      color: rgba($color: white, $alpha: .02);
      transform: translateX(-49px);

      ::before {
         content: "";
         position: absolute;
         top: 0;
         right: 0;
         width: 5rem;
         height: 1px;
         background-color: $accent-color;

      }

      h2 {
         position: absolute;
         font-size: 5rem;
         top: 0px;
         right: -12px;
         margin: 0;
         color: $primary-color;

      }
   }
}

// Subtitle 
.surf .subtitle {
   transform: translateY(-61px);
}

.subtitle {
   display: block;

   .subtitle-strapline {
      position: relative;
      color: rgba($color: white, $alpha: .5);
      font-size: 1.375rem;
      line-height: 48px;
      letter-spacing: 0.4583rem;
      margin: 0;
   }

   .subtitle-title {
      @extend .b-text;
      margin: 0;

      span {
         font-weight: 100;
      }
   }
}

.subtitle.subtitle-right {
   text-align: right;
   margin-right: 5rem;

   .subtitle-strapline {
      display: inline-block;
      padding-left: 105px;

      &::after {
         content: "";
         position: absolute;
         top: 50%;
         left: 0;
         width: 5rem;
         height: 1px;
         background-color: white;
         transform: translateY(-50%);
      }
   }

}

.subtitle.subtitle-left {
   text-align: left;
   margin-left: 8.4375rem;

   .subtitle-strapline {
      display: inline-block;
      padding-right: 105px;

      &::after {
         content: "";
         position: absolute;
         top: 50%;
         right: 0;
         width: 5rem;
         height: 1px;
         background-color: white;
         transform: translateY(-50%);
      }
   }

}